{% extends "base.html" %}
{% load static %}

{% block body %}


<h1>This is a page</h1>
<title> This is a title</title>
{% endblock %}

{% block script %}
<script>
<!--    $(document).ready(function() {-->
<!--             if (jQuery) {-->
<!--               // jQuery is loaded-->
<!--               alert("Yeah!");-->
<!--             } else {-->
<!--               // jQuery is not loaded-->
<!--               alert("Doesn't Work");-->
<!--             }-->
<!--          });-->
</script>

{% endblock %}