{% extends "base.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
<!--    {%load static%}-->
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
    <title>Jobs</title>
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col justify content-center">
            <h2 class="text-center">Jobs </h2>
        </div>
        <hr>
    </div>



    <div class="row">
        <div class="col">
            <table class="table table-striped">
              <tr>
                  <th>ID</th>
                  <th>Attempt</th>
                  <th>State</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Node</th>
                  <th>Config</th>
                  <th>Task</th>
                  <th>Firing Event</th>
              </tr>
            {% for job in jobs_page %}
              <tr>
                  <td><a href="{% url 'manager:job_single_view' job.pk %}">{{job.id}}</a></td>
                  <td>{{job.attempt}}</td>
                  <td>{{job.state}}</td>
                  <td>{{job.starttime}}</td>
                  <td>{{job.endtime}}</td>
                  <td>{{job.node}}</td>
                  <td>{{job.config}}</td>
                  <td>{{job.task}}</td>
                  <td>{{job.firing_event}}</td>
              </tr>
            {% endfor %}
            </table>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              <li class="page-item">
                  <a class="page-link" href="?page=1">First</a>
              </li>
            {% if jobs_page.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ jobs_page.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
              </li>
            {% endif %}
            {% for i in pagination_range %}
              {% if jobs_page.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}

                  </span>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if jobs_page.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ jobs_page.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
              </li>
            {% endif %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ total_pages }}">Last</a>
              </li>
          </ul>
        </nav>

<!--        <div class="col">-->
<!--            <div class="pagination">-->
<!--                <span class="step-links">-->
<!--                    {% if jobs_page.has_previous %}-->
<!--                        <a href="?page=1">&laquo; first</a>-->
<!--                        <a href="?page={{ jobs_page.previous_page_number }}">previous</a>-->
<!--                    {% endif %}-->

<!--                    <span class="current">-->
<!--                        Page {{ jobs_page.number }} of {{ jobs_page.paginator.num_pages }}.-->
<!--                    </span>-->

<!--                    {% if jobs_page.has_next %}-->
<!--                        <a href="?page={{ jobs_page.next_page_number }}">next</a>-->
<!--                        <a href="?page={{ jobs_page.paginator.num_pages }}">last &raquo;</a>-->
<!--                    {% endif %}-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>

<!--{% for pipe in pipelines %}-->
<!--     <h2>{{pipe.name}} </h2>-->
<!--{% endfor %}-->

</body>
{% endblock %}