{% extends "base.html" %}

{% load common_tags %}

{% block body %}
<head>
    <meta charset="UTF-8">

    <title>Job - {{ job.id }}</title>
</head>

<div class="container">
<!-- Build a nested tree for the pipeline -->
    <div class="row">
        <div class="col-md-12">
            <h1>Job ID - {{ job.id }}</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h5>Node: <small>{{ job.node }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>Job Attempt Number: <small>{{ job.attempt }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>Start Time: <small>{{ job.starttime }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>End Time: <small>{{ job.endtime }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>Configuration: <small>{{ job.config  }}</small></h5>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h3>State</h3>
        </div>
        <div class="col-md-12">
            {{ job.state }}
        </div>
    </div>

    <hr>

<!--&lt;!&ndash;    TODO: Make a nested view of tasks that expand on more &ndash;&gt;-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <h2>Tasks</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr>-->

<!--    TODO: Make a nested view of Events that expand on more -->
<!--    TODO: For jobs that fail prefer parent events.  Otherwise show events that do work-->
<!--    TODO: Tree snipped we go back some amount of events  -->
    <div class="row">
        <div class="col-md-12">
            <h2>Parent-Child Jobs & Events</h2>
        </div>
        <hr>
        <div class="col-md-12">
<!--            {% include 'common/ajax_tree_view.html' with base_object=job.firing_event list_stack=events_stack %}-->
            {% include 'common/ajax_tree_view.html' with list_stack=job_stack %}
        </div>
    </div>


</div>

{% endblock %}