{% extends "base.html" %}

{% block body %}
<head>
    <meta charset="UTF-8">

    <title>Job - {{ job.id }}</title>
</head>

<div class="container">
<!-- Build a nested tree for the pipeline -->
    <div class="row">
        <div class="col-md-12">
            <h1>Job ID - {{ job.id }}</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h5>Node: <small>{{ job.node }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>Job Attempt Number: <small>{{ job.attempt }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>Start Time: <small>{{ job.starttime }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>End Time: <small>{{ job.endtime }}</small></h5>
        </div>
        <div class="col-md-12">
            <h5>Configuration: <small>{{ job.config  }}</small></h5>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h3>State</h3>
        </div>
        <div class="col-md-12">
            {{ job.state }}
        </div>
    </div>

    <hr>

<!--    TODO: Make a nested view of tasks that expand on more -->
    <div class="row">
        <div class="col-md-12">
            <h2>Tasks</h2>
        </div>
    </div>

    <hr>

<!--    TODO: Make a nested view of Events that expand on more -->
    <div class="row">
        <div class="col-md-12">
            <h2>Events</h2>
        </div>
    </div>


</div>

{% endblock %}